/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.btn{
    padding: 10px 15px;
    color: black;
    border-radius: 2em;
    text-decoration: none;
}
.big{
    font-size: 25px;
    padding: 20px 35px;
}

.white{
    background-color: #fff;
    color: black;
}
.black{
    background-color: black;
    color: white;
}

/* ***** header ***** */
.debug header{
    height: 80px;
    background-color: #255EE9;
    line-height: 80px;
}

#logo,
#accedi{
    width: 25%;
    float: left;
}

#logo img {
    vertical-align: middle;
}
nav{
    width: 50%;
    float: left;
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    color: white;
    font-weight: bold;
    padding:0 15px;
    text-decoration: none;

}

nav li a:hover{
    text-decoration: underline;
}

#accedi{
    text-align: right;
    text-decoration: none;
}

/* ***** jumbo ***** */

#jumbo{
    height: 600px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.jumbo-txt{    
    text-align: center;
    color: white;
    padding-top: 80px;
    margin: 0px auto;
    width: 80%;
    line-height: 1.5;
}
#jumbo h1{
    text-transform: uppercase;
    font-size: 90px;
}
#jumbo p {
    margin-bottom: 50px;
}
#jumbo .btn{
    margin: 0 15px;
}

/* *****main***** */

.principale{
    margin:100px;
    height: 100%;
}
.principale h1{
    font-size: 40px;
}
.principale p{
    padding-top: 40px;
}
.left{
    float: left;
    width: 300px;
} 
.right{
    float: right;
    width: 300px;
}
.grigio{
    background-color: lightgray;
    padding: 20px 0;
}

.center{
    text-align: center;
    line-height: 1.5;
}
.center-img{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
.center h1{
    margin-bottom: 10px;
}
/* ***** footer ***** */

/* *****debug***** */

/* .debug header{
    height: 100px;
    background-color: #3161E0;
} */

/* .debug #jumbo{
    height: 600px;
    background-color: blue; 
} */

/* .debug main{
    height: 800px;
    background-color: chocolate;
} */

.debug footer{
    height: 400px;
    background-color: darkslategray;
}

/* .debug .container{
    height: 100%;
    background-color: deepskyblue;
} */

/* .debug #logo,#accedi{
    background-color: chartreuse;

}
.debug nav{
    background-color: brown;
} */

/* .debug .left{
    float: left;
    width: 300px;
    background-color: red;
} 
.debug .right{
    float: right;
    width: 300px;
    background-color:grey;
}
.grigio{
    background-color: lightgray;
    padding: 20px 0;
}

.debug .center{
    text-align: center;
    line-height: 1.5;
}
.debug .center-img{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
.debug .center h1{
    margin-bottom: 10px;
} */