/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.btn{
    background-color: #fff;
    padding: 10px 15px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}
/* ***** header ***** */
.debug header{
    height: 80px;
    background-color: #3161E0;
    line-height: 80px;
}

#logo,
#accedi{
    width: 25%;
    float: left;
}

#logo img {
    vertical-align: middle;
}
nav{
    width: 50%;
    float: left;
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    color: white;
    font-weight: bold;
    padding:0 15px;
    text-decoration: none;

}

nav li a:hover{
    text-decoration: underline;
}

#accedi{
    text-align: right;
    text-decoration: none;
}

/* ***** main ***** */



/* ***** footer ***** */

/* *****debug***** */

.debug header{
    /* height: 100px;
    background-color: #3161E0; */
}

.debug #jumbo{
    height: 300px;
    background-color: blue;
}

.debug main{
    height: 800px;
    background-color: chocolate;
}

.debug footer{
    height: 400px;
    background-color: darkslategray;
}

.debug .container{
    height: 100%;
    /* background-color: deepskyblue; */
}

/* .debug #logo,#accedi{
    background-color: chartreuse;

}
.debug nav{
    background-color: brown;
} */